.frame {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 1200px;
  height: 80vh;
  padding: 10px;
  border-radius: var(--br-large);
  background: var(--basic-50);
  box-shadow: 0 10px 24px var(--shadow);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: inherit;
  background: var(--basic-0);
  overflow: hidden;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  border-bottom: 1px solid var(--basic-200);
}
.text {
  flex-shrink: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.scroll {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.profile {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border-radius: 16px;
  margin-right: 10px;
  overflow: hidden;
}
.chat {
  display: flex;
  width: 100%;
  opacity: 0;
}
.chat .balloon {
  width: auto;
  min-width: 60%;
  padding: 20px;
  margin-bottom: 20px;
}
.chat.img .balloon {
  min-width: 40%;
  max-width: 50%;
}
.chat.left .balloon {
  border-radius: 0 var(--br-medium) var(--br-medium) var(--br-medium);
  color: var(--basic-900);
  background: var(--basic-50);
}
.chat.right .balloon {
  margin-left: auto;
  border-radius: var(--br-medium) 0 var(--br-medium) var(--br-medium);
  color: var(--basic-0);
  background: var(--primary-600);
}

.view {
  animation: view 0.3s ease 0.1s forwards;
}
@keyframes view {
  0% {
    opacity: 0;
    transform: translateY(32px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 노트북, 태블렛 환경 */
@media (max-width: 1240px) {
  .frame {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
}

/* 모바일 환경 */
@media (max-width: 768px) {
  .frame {
    display: block;
    height: calc(100vh - 40px);
  }
  .scroll {
    padding: 10px;
  }
  .container {
    height: calc(100% - 135px);
  }

  .title {
    padding: 10px 16px;
  }

  .profile {
    width: 32px;
    height: 32px;
    border-radius: 12px;
    margin-right: 4px;
  }
  .chat .balloon {
    padding: 10px;
    max-width: 96%;
  }
  .chat.img .balloon {
    min-width: 60%;
    max-width: 80%;
  }
}
