.main {
  color: #fff;
}
.title {
  padding: 18vw 0 10vw;
  font-size: 20px;
  text-align: center;
  color: var(--point-pink);
}
.title .line1 {
  display: block;
  font-size: var(--fz-16);
}
.title .line2 {
  font-size: var(--fz-40);
}

.couple {
  width: 100%;
}
.footer {
  padding-top: 16vw;
  text-align: center;
  color: var(--point-pink);
}
.footer .line1 {
  font-weight: 700;
  font-size: var(--fz-20);
}
.footer .line2 {
  font-weight: 500;
  font-size: var(--fz-18);
}
