.point {
  color: var(--sub);
}

.main {
  display: table;
  width: 100%;
  height: 100%;
}
.main-container {
  display: table-cell;
  vertical-align: middle;
}
.main-block {
  width: 100%;
  max-width: 1200px;
  padding: 10px 0;
  margin: 0 auto;
}

.main-text {
  margin-bottom: 20px;
  font-family: "Ria Sans";
  font-size: 80px;
  line-height: 1.5em;
  color: var(--basic-0);
  text-align: center;
  position: relative;
  z-index: 1;
}
.job {
  transition: all 0.6s ease;
}
.job.point {
  text-shadow: 0 2px 16px #00000060;
}
.main-balloon {
  display: inline-block;
  padding: 20px 32px;
  margin: 0 auto 50px;
  border-radius: 40px;
  font-size: 24px;
  font-weight: 500;
  background-color: var(--basic-0);
  position: relative;
  opacity: 0;
  animation: show 0.8s ease forwards;
}
.main-balloon .arrow {
  border-top: 30px solid var(--basic-0);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  bottom: -29px;
  left: calc(50% - 20px);
}
.cup {
  animation: bounce 0.6s alternate infinite;
}
.cup-text {
  font-size: 18px;
  font-weight: 300;
  white-space: nowrap;
  position: absolute;
  top: 42%;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.main-comment {
  color: var(--basic-0);
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin: 20px 0 40px;
}
.main-image {
  display: block;
  width: 100%;
}
.nav {
  display: flex;
  justify-content: center;
  gap: 2.5%;
}
.nav-item {
  color: var(--basic-0);
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  opacity: 0.8;
}
.nav-item:hover {
  opacity: 1;
}
.back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 2px solid var(--basic-0);
  border-radius: 50%;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1;
}

/* 모바일 환경 */
@media (max-width: 768px) {
  .main-text {
    font-size: 8vw;
  }
  .main-balloon {
    font-size: 3.2vw;
    padding: 2.4vw 4vw;
    margin-bottom: 8vw;
  }
  .main-balloon .arrow {
    border-top: 5vw solid var(--basic-0);
    border-left: 3.2vw solid transparent;
    border-right: 3.2vw solid transparent;
    bottom: calc(-5vw + 1px);
    left: calc(50% - 3.2vw);
  }
  .main-comment {
    font-size: 3.2vw;
    margin: 2.4vw 0 6vw;
  }
  .cup-text {
    font-size: 2vw;
  }
  .nav-item {
    font-size: 3.2vw;
  }
  .back {
    width: 7.8vw;
    height: 7.8vw;
    border-width: 1.2px;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: rotate(5deg);
  }
  15% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(5deg);
  }
  45% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
