.nav-layout {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: inherit;
  background: var(--basic-0);
  overflow-y: auto;
}
.nav-frame {
  width: 240px;
  min-height: 620px;
  border-radius: inherit;
  overflow: hidden;
}
.item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
}
.icon {
  width: 48px;
  height: 48px;
  padding: 12px;
  border-radius: 16px;
  background: var(--gradient);
}

.bar {
  padding: 24px 20px;
  border-bottom: 1px solid var(--basic-200);
}
.bar-container {
  display: flex;
  width: 100%;
}
.close {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #d45648;
  border-radius: 50%;
  background-color: #f26053;
}
.expand {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #0da821;
  border-radius: 50%;
  background-color: #29c740;
}
.aside {
  flex-grow: 1;
  display: block;
  position: relative;
}
.aside .notion {
  width: 40px;
  position: absolute;
  left: 50%;
  bottom: 72px;
  z-index: 0;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}
.mugcup {
  width: 128px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  z-index: 2;
  transform: translateX(-50%);
}
.comment {
  padding: 8px 12px;
  margin: 0 auto;
  border-radius: 20px;
  white-space: nowrap;
  background: var(--basic-50);
  opacity: 0;
  position: absolute;
  left: 50%;
  bottom: 100px;
  z-index: 1;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}
.mugcup:hover + .notion {
  bottom: 110px;
}
.mugcup:hover + .notion + .comment {
  opacity: 1;
  bottom: 160px;
}

.aside-mo {
  display: none;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 32px;
  background: var(--basic-50);
}
.aside-mo .notion {
  width: 14px;
}
.aside-mo .button-text {
  font-size: 12px;
}

@media (max-width: 768px) {
  .nav-layout {
    height: auto;
    margin-bottom: 10px;
  }
  .nav-frame {
    width: 100%;
    min-height: auto;
  }
  .list {
    display: flex;
    justify-content: center;
  }
  .item {
    display: block;
    text-align: center;
    padding: 10px;
  }
  .item h3 {
    margin-top: 4px;
    font-size: 12px;
    line-height: 18px;
  }
  .item p {
    display: none;
  }
  .icon {
    margin: 0 auto;
  }

  .bar {
    padding: 8px 20px;
  }
  .bar-container {
    justify-content: flex-end;
  }

  .aside {
    display: none;
  }
  .aside-mo {
    display: flex;
  }
}

@media (max-width: 402px) {
  .item {
    padding: 2.4vw 2vw;
  }
  .item h3 {
    margin-top: 0.8vw;
    font-size: 3vw;
  }
  .icon {
    width: 12vw;
    height: 12vw;
    padding: 3vw;
    border-radius: 4vw;
  }

  .bar {
    padding: 2vw 5vw;
  }
}
